.smallUserNav {
  margin: 0 -5px 15px;
}
.smallUserNav .col-sm-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.smallUserNav a {
  display: block;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  border-radius: 0;
  padding: 3px 0;
}
  .smallUserNav a:hover {
    background-color: #2358A3;
    color: #fff;
    text-decoration: none;
  }
  .smallUserNav a.active {
    background-color: #1B4B87;
    color: #fff;
    cursor: context-menu;
  }

.edVideo {
  padding: 0 15px;
}
.edVideo .embedFeature {
  border: 1px solid #F5F5F5;
  padding: 0;
}
.edVideo p {
  font-size: 15px;
  margin: 0;
  padding: 6px 8px;
  line-height: 18px;
  background-color: #F5F5F5;
}
.edVideo .watchLater {
  position: absolute;
  right: 0;
  top: 0;
}
.edVideo .watchLater a {
  background-color: #F5F5F5;
  display: block;
  font-size: 10px;
  color: #000;
  padding: 2px 5px 0 7px;
  border-bottom-left-radius: 10px;
}
.edVideo .watchLater a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #2358A3;
}

.welfareArticle {
  margin-bottom: 15px;
}
.welfareArticle a.articleLink {
  font-size: 15px;
  line-height: 18px;
  display: block;
  padding: 8px 12px;
  color: #000;
  background-color: #D9DCF0;
}
  .welfareArticle a.articleLink:hover {
    text-decoration: none;
    background-color: #e8eafe;
  }
.welfareArticle a.submitLink {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  background-color: #3F51B5;
  border-top: 4px solid #898FFC;
  color: #fff;
  text-align: right;
  padding: 2px 6px 0 0;
}

#intranetMenu .panel {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  margin: 0;
  border: 0;
}

#intranetMenu .panel-heading {
  padding: 0;
  border: 0;
  margin-top: 10px;
}
  #intranetMenu .panel:first-child .panel-heading {
    margin: 0;
  }
#intranetMenu .panel-heading a {
  display: block;
  padding: 5px 15px;
  background-color: #1B4B87;
  color: #fff;
  text-decoration: none;
}
   #intranetMenu .panel-heading a:hover, #intranetMenu .panel-heading a.collapsed:hover {
     background-color: #2358A3;
     color: #fff;
   }
  #intranetMenu .panel-heading a.collapsed {
    background-color: #f5f5f5;
    color: #000;
  }

@media (min-width: 970px) {
  #intranetMenu .panel {
    margin-left: -5px;
  }
  #intranetMenu .panel-heading {
    padding: 0 5px;
    width: 50%;
    float: left;
  }
  #intranetMenu .links {
    border-top: 2px solid #1B4B87;
    clear: left;
  }
  #intranetMenu h2 {
    clear: left;
    padding-top: 15px;
    margin-bottom: 5px;
  }
}

#intranetMenu .links {
  padding: 10px 15px 0;
}
  #intranetMenu .links.collapsing {
    margin-bottom: -10px;
  }

#intranetMenu .links > .row {
  padding: 0;
  margin: 0 -10px;
}
  #intranetMenu .links > .row:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 7px;
  }
  #intranetMenu .links > .row h3:not(:first-child) {
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }
#intranetMenu .links > .row .col-sm-6,
#intranetMenu .links > .row .col-xs-12 {
  margin: 5px 0;
  padding: 0 10px;
}
  #intranetMenu .links > .row .col-xs-12 h3 {
    margin-bottom: 0;
  }
  #intranetMenu .links > .row p {
    margin-bottom: 0;
  }
  
#intranetMenu .links p:first-child {
  font-weight: bold;
}

.btn-intranetMain {
  color: #000;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 30px 0;
}
  .btn-intranetMain h1 {
    font-size: 50px;
  }
  .btn-intranetMain:hover {
    color: #fff;
    background-color: #2358A3;
    background-image: url(/img/intranetButtonFrnt.png), url(/img/intranetButtonBkgd.png);
    border-color: #1B4B87;
  }

.quickLinks, .quickLinks .panel-heading {
  border-color: #f5f5f5;
  box-shadow: none;
}

.quickLinks h3 {
  font-size: 22px;
}

.quickLinks .panel-body {
  padding: 15px 20px 10px 0;
}

.quickLinks li > a {
  padding: 0;
}
.quickLinks li > p {
  margin: -5px 0 0 0;
}
.quickLinks li {
  margin-top: 8px;
  margin-bottom: 8px;
}