.highlightBox {
  margin-bottom: 15px;
}
.highlightBox a {
  display: block;
  padding: 9px 10px;
  color: #000;
  font-weight: bold;
  background-position: center center;
  background-size: cover;
  line-height: 18px;
}
.highlightBox i {
  float: right;
}

.articleInfo {
  border-bottom: 1px solid #eee;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
}
  
  .articleInfo div:first-child {
    padding-left: 0;
    font-size: 15px;
    width: 100%;
  }
    .articleInfo div:first-child strong {
      font-size: 16px;
    }
    .articleInfo div:first-child p {
      margin-bottom: 0;
    }
    .articleInfo div:first-child p:last-child {
      margin-bottom: 8px;
    }
  .articleInfo .col-xs-2 {
    display: none;
  }

#intranetMenu .links span a {
  color: #888;
  padding-left: 10px;
}
  #intranetMenu .links span a:hover {
    color: #555;
  }

.barLink, .barLink-disabled {
  border-radius: 0;
  font-size: 16px;
  text-align: left;
  margin-bottom: 12px;
  clear: both;
}
  .barLink i, .barLink-disabled i {
    margin-right: 10px;
  }
  .barLink:hover, .barLink:focus {
    color: #fff;
    background-color: #2358A3;
    border-color: transparent;
  }

.highlightText {
  margin: 0 0 15px;
}
  .highlightText > div {
    background-color: #2358A3;
    color: #fff;
    padding-top: 10px;
  }
  .highlightText > div > :first-child, blockquote :first-child {
    margin-top: 0;
  }

.embedFeature, .setDisplay > div {
  margin-bottom: 12px;
}
  .embedFeature.pull-left {
    clear: left;
    padding-left: 0;
  }
  .embedFeature.pull-right {
    clear: right;
    padding-right: 0;
  }
  @media print, (max-width: 767px) {
    .embedFeature.pull-left, .embedFeature.pull-right {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .embedFeature.pull-left, .embedFeature.pull-right {
    margin-top: 3px;
  }
.embedFeature .barLink {
  margin-bottom: 0;
}

.gallery {
  width: 100%;
  margin: auto;
}
.galleryItem {
  width: calc(100% / 3);
}
.galleryItem-medium {
  width: calc(100% / 3 * 2);
}
.galleryItem-large {
  width: 100%;
}
.galleryItem img {
  padding: 6px;
}


.setDisplay {
  padding: 0 9px;
}
  .setDisplay div {
    padding-left:  6px;
    padding-right: 6px;
  }
@media (min-width: 768px) {
  .col-sm-fifths {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
  }
}

/* Bootstrap's embed-responsive class is only good for videos - this allows audio, forms etc */
.embed-responsive-video,
.embed-responsive-presentation {
  padding-bottom: 56.25%;
}
.embed-responsive-audio {
  padding-bottom: 26.25%;
}
.embed-responsive-audioPlaylist {
  padding-bottom: 56.25%;
}
.embed-responsive-form {
  border: solid #eee;
  border-width: 1px 0;
  padding-bottom: 100%;
}
.embed-responsive-document,
.embed-responsive-spreadsheets {
  padding-bottom: 100%;
}
.embed-responsive-geogebra {
  padding-bottom: 75%;
}

.WolframAlphaWidget {
  margin: 15px 0!important;
  width: 100%!important;
}

.tableTabs h3 {
  margin: 0;
  font-size: 20px;
}
.tableTabs li:not(.active) h3 {
  color: #111;
}
.tableTabs > li > a {
  border-radius: 0;
}

.fancyBox img:hover {
  opacity: 0.8;
}

.qrCode_display p {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .col-sm-offset-5h {
    margin-left: 45.83333333%;
  }
  .col-sm-offset-4h {
    margin-left: 37.5%;
  }
  .col-sm-offset-3h {
    margin-left: 29.16666667%;
  }
  .col-sm-offset-2h {
    margin-left: 20.83333333%;
  }
  .col-sm-offset-1h {
    margin-left: 12.5%;
  }
  .col-sm-offset-0h {
    margin-left: 4.16666667%;
  }
}

/* Quizzes: */
#root {
  margin-bottom: 25px;
}
#root h2 {
  margin-top: 0;
}
#root .progress {
  height: 25px;
  border-radius: 0;
  margin: 5px 0 15px;
}
#root .progress-bar {
  background-color: #173F7A;
}
#root #answerInput {
  margin-top: 15px;
}
#root #answerInput .col-sm-8, #choiceOptions .col-xs-6, #choiceOptions .col-xs-4 {
  padding: 0;
}
#root label {
  width: 100%;
  text-align: right;
  padding: 3px 0;
}
#root #answerBox {
  padding: 1px 10px;
  width: 100%;
}
#root button {
  float: right;
  border: 0;
  padding: 3px 15px;
  width: 100%;
}
#root button:hover:not(.disabled), button:focus:not(.disabled), #choiceOptions label:hover, #choiceOptions input:checked+label {
  background-color: #2358A3;
  color: #fff;
}
#root #choiceOptions label:hover {
  cursor: pointer;
}
/*
#root button:focus:not(.disabled) {
  box-shadow: inset 3px 3px 0 0 rgba(0,0,0,.1);
}

#root #choiceOptions input {
  position: absolute;
  opacity: 0;
}

#root #choiceOptions label {
  text-align: center;
  padding: 3px 10px;
  margin-bottom: 8px;
}

#root #choiceOptions .col-xs-6:nth-child(2n-1), #choiceOptions .col-xs-4:nth-child(3n-2) {
  padding-right: 4px;
}
#root #choiceOptions .col-xs-4:nth-child(3n-1) {
  padding-left: 4px;
  padding-right: 4px;
}
#root #choiceOptions .col-xs-6:nth-child(2n), #choiceOptions .col-xs-4:nth-child(3n) {
  padding-left: 4px;
}
#root #wrongAnswer p {
  text-align: center;
  margin: 15px 0 0;
  font-weight: bold;
}
*/