RewriteEngine On    #Turn on the rewriting engine

#See http://coding.smashingmagazine.com/2011/11/02/introduction-to-url-rewriting/ for support

#General content pages
RewriteRule    ^pages/([^/]+)/?$    content_pages.php?folder=$1   [L]
RewriteRule    ^pages/([^/]+)/([^/]*)/?$    content_pages.php?folder=$1&subfolder=$2   [L]
RewriteRule    ^pages/([^/]+)/([^/]*)/([^/]*)/?$    content_pages.php?folder=$1&subfolder=$2&page=$3    [L]

#House Competition archives
RewriteRule    ^archive/(.+)/(.*)/(.*)/year(.*)$    content_pages.php?folder=$1&subfolder=$2&page=$3&year=$4    [L]

#Search page
RewriteRule    ^search/    content_search.php    [L]

#Intranet pages
RewriteRule    ^intranet/?$    content_intranet.php    [L]
RewriteRule    ^intranet/(.+)$    content_intranet.php?user=$1    [L]

#News stories
RewriteRule    ^news/(.+)$    content_news.php?story=$1    [L]

#Diary entries, where $1 is the day, $2 the month and $3 the year
RewriteRule    ^diary/?$    diary.php    [L]
RewriteRule    ^diary/([0-9]+)/([0-9]+)/([0-9]+)/?$    diary.php?d=$1&m=$2&y=$3    [L]
RewriteRule    ^diary/sync/?$    diary.php?diarySync=1    [L]    #Force syncing the diary

#Learn websites
RewriteRule    ^learn/([^/.]+)/?$    learn/?subject=$1   [L]
RewriteRule    ^learn/([^/.]+)/([^/.]+)/?$    learn/?subject=$1&folder=$2   [L]
RewriteRule    ^learn/([^/.]+)/([^/.]+)/([^/.]+)/?$    learn/?subject=$1&folder=$2&page=$3   [L]
RewriteRule    ^learn/([^/.]+)/([^/.]+)/([^/.]+)/([^/.]+)/?$    learn/?subject=$1&folder=$2&subfolder=$3&page=$4   [L]