/* Footer changes (to allow room for the highlights ticker) */
div#btm { border-top: 27px solid #173f7a; }
div.page { padding-bottom: 72px; }

/* Override */
div.override {
    height: 245px;
    margin: 5px 0px 14px 0px;
    padding: 6px 18px 14px 18px;
    background-color: #E0ECFF;
    background-position: top center; background-repeat: no-repeat; background-size: cover;
    }
    div.override h1 {
       margin-bottom: 0px;
       font-size: 42px;
       }
    div.override p {
       font-size: 16px; line-height: 26px;
       margin-top: 8px;
       }

#closure {
    color: #ffffff; background-color: #303030;
    background-image: url('/rebuild/main_imgs/override_closure.png');
    padding-right: 250px;
    }
    #closure a { color: #F2A106; }
    #closure a:hover { color: #FFC405; }
#snow_amber {
    background-image: url('/rebuild/main_imgs/override_snow_amber.png');
    padding-right: 250px;
    }
#advert { background-image: url('/rebuild/override/ACTIVE/advert.jpg'); }

/* Magazine */
div.magazine { margin-top: 5px; }
    div.magazine a { text-decoration: none; color: #000000; }
    div.magazine p { margin-top: 5px; }
    div.magazine hr { clear: left; }

div.big, div.std, div.non, div.bar {
    overflow: hidden; margin-bottom: 14px;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    }
    div.big:hover, div.std:hover, div.non:hover, div.non a:hover, div.bar:hover { background-color: #2358A3; color: #ffffff; }

div.magazine .newsimg {
    display: block; float: left;
    background-position: top center; background-repeat: no-repeat; background-size: cover;
    }

div.big { clear: left; height: 210px; padding-right: 14px; }
    div.big h2 { margin-top: 5px; }
    div.big .newsimg { height: 210px; width: 430px; margin-right: 14px; }

div.std { clear: left; height: 140px; padding-right: 14px; }
    div.std h3 { margin-top: 8px; }
    div.std .newsimg { height: 140px; width: 250px; margin-right: 14px; }

div.non {
    background-color: #FFF7D7;
    height: 62px; width: 331px;
    float: left;
    padding: 0px 12px 0px 12px;
    }
    div.non p { margin-top: 0px; }

div.bar {
    width: 170px; margin-right: 10px;
    float: left;
    }
    div.bar#end { margin-right: 0px; }
    div.bar h3 { clear: left; line-height: 24px; padding: 8px 12px 8px 12px; }
    div.bar .newsimg { height: 120px; width: 170px; }

/* Twitter */
div.twitter-header {
    margin: 15px 0px 4px 0px;
    }

div.twitter-header p {
    padding: 5px 31px 5px 7px; margin: 0px;
    background-image: url('/rebuild/main_imgs/twitter.png');
    background-position: right 8px;
    background-repeat: no-repeat;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    }
    div.twitter-header p:hover { background-color: #2358A3; color: #ffffff; }

div.twitter-header span {
    float: right;
    font-size: 11px;
    }

div.twitter-header a {
    display: block;
    text-decoration: none;
    }

div.twitter-header#news { background-color: #f3b939; }
    div.twitter-header#news a { color: #000000; }
div.twitter-header#sprt { background-color: #b21614; }
    div.twitter-header#sprt a { color: #ffffff; }

.twitter-timeline { height: 390px; margin-bottom: -5px; }

/* Highlight */
div.highlight {
    position: fixed; z-index: 1;
    bottom: 43px; height: 27px;
    }
    div.highlight a {
       display: block; width: 980px;
       padding: 0px 0px 4px 0px;
       color: #ffffff; text-decoration: none;
       }
       div.highlight a:hover { text-decoration: underline; }
