div.mcol-rgt { width: 722px; margin-left: 258px; }
hr { clear: left; }
div.description { margin: 0px 0px 18px 12px;}

div.photostub {
    float: left;
    margin: 0px 0px 12px 12px;
    background-color: #f0f0f0;
    background-size: cover;
    }
    div.med { width: 228px; height: 228px; }
    div.tny { width: 108px; height: 108px; }
    div.wde { width: 468px; height: 228px; }

div.tny-box {
    float: left;
    width: 240px; height: 240px;
    }

div.photostub a {
    display: block; height: 212px; border: 8px solid transparent;
    transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    }
    div.tny a { height: 96px; border-width: 6px; }
    div.photostub a:hover { border-color: #2358A3; }

/* Photo viewer */
div.viewphoto { height: 100%; margin-left: 12px; }
    div.viewphoto h2 { margin: 5px 0px 15px 0px;}
div.photo {
    float: left;
    height: 468px; width: 448px;
    background-color: #f0f0f0;
    background-size: contain; background-repeat: no-repeat; background-position: center center;
    }

div.stublist {
    height: 468px; width: 262px;
    overflow: auto;
    }
