h1.dcgs {
    color: #00457f; text-align: center;
    margin-bottom: 0.6em !important; padding-right: 0.1em;
    }

/* Override */
div.override {
    padding: 1em 2em 1.5em 2em;
    background-color: #E0ECFF;
    background-position: top center; background-repeat: no-repeat;
    }

#closure {
    color: #ffffff; background-color: #303030;
    background-position: right top; background-image: url('/rebuild/main_imgs/override_closure.png');
    padding-right: 15.3em;
    }
    #closure a { color: #F2A106; }
    #closure a:hover { color: #FFC405; }
#snow_amber {
    background-position: right bottom; background-image: url('/rebuild/main_imgs/override_snow_amber.png');
    padding-right: 15.3em;
    }

/* Magazine */
div.magazine div { clear: left; margin-bottom: 1.4em; }

div.magazine h2, div.magazine h3 { font-size: 3em; line-height: 1.2em; }
div.magazine p { margin-top: 0.1em; }

div.magazine a { color: #000000; text-decoration: none; }

div.non { background-color: #FFF7D7; padding: 0.1em 1.5em 1em 1.5em;}

div.big, div.std, div.bar { height: 13.5em; }

div.newsimg {
    float: left; height: 13.5em;
    width: 40%; margin: 0 1.8em 0 0;
    }
