* { margin: 0; padding: 0;
    font-family: 'PT Sans', sans-serif; }

body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    }

div.page {
    width: 980px;
    margin: 10px auto 0px auto;
    }
hr.clear { height: 0px; clear: both; visibility: hidden; }

div.lftcol {
    float: left; width: 260px;
    background-color: #ffffff;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 6px 8px -6px #333333;
    }

div.parsebox {
    float: right; width: 682px;
    background-color: #ffffff;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 6px 8px -6px #333333;
    padding: 0px 15px 15px 15px;
    }

/* GENERAL TYPOGRAPHY */

a { color: #444444; }
a:hover { color: #888888; }

/* LOGO AND MAIN NAVIGATION */

div.header {
    background-image: url(imgs/logo_bkgd.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #666666;
    border-radius: 4px 0 0 0;
    padding: 10px 10px 16px 15px;
    }

a.logolink { text-decoration: none; }

div.header h1, div.header h2 { margin: 0px; color: #ffffff; }

div.header h1 { font-size: 36px; }
div.header h2 { 
    font-size: 48px;
    line-height: 44px;
    margin-top: -4px;
    }

div.navigation { padding-bottom: 5px; }

div.navigation h1, div.navigation h2, div.navigation ul { margin: 0px; }

div.navigation h1 {
    font-weight: normal; font-size: 18px;
    padding: 3px 10px; margin-bottom: 4px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #eaeaea;
    }
    div.navigation h1:first-child { margin-bottom: 0; }
    div.navigation h1 span { font-size: 10px; vertical-align: 30%; }
    div.navigation h1 a {
       display: block;
       margin: -5px -10px; padding: 5px 10px;
       text-decoration: none; color: inherit;
       transition: background-color 0.2s, color 0.2s;
       }
    div.navigation h1 a:hover {
       color: #ffffff; background-color: #666666;
       }

div.navigation h2 {
    font-weight: normal; font-size: 16px;
    margin: 3px 10px 4px 10px;
    }
    div.navigation h2 span {
        font-family: "Courier New", monospace;
        font-weight: bold; font-size: 16px; vertical-align: 1px;
        color: #888888;
        }
    div.dropdown h2 span.open { display: none; }
    div.open h2 span.clsd { display: none; }
    div.open h2 span.open { display: inline; }
    div.navigation h2 a {
       text-decoration: none; display: block;
       }

div.navigation ul {
    display: none;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 5px 15px 0px 28px;
    font-size: 16px; line-height: 18px;
    list-style-type: none;
    }
    div.navigation li { margin-bottom: 8px; }
    div.open ul { display: block; }
    div.navigation ul a {
        display: block;
        text-decoration: none;
       }