* { margin: 0; padding: 0;
    font-family: 'PT Sans', "Trebuchet MS", Helvetica, sans-serif; }

body {
    padding-top: 95px;
  
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    }

#banner {
    width: 100%; top: 0;
    z-index: 1;
    background-color: #666666;
    box-shadow: 0 6px 8px -6px #333333;
    position: fixed;
}

#titles {
    width: 880px; margin: 0 auto;
    height: 80px;
    background-image: url(imgs/learnlogo_bkgd.png);
    background-repeat: no-repeat;
    background-position: top right;
}
    #titles img {
        margin-top: 5px;
    }
    #titles h1 {
        font-size: 38px;
        float: right;
        margin: 15px 5px 0px 0px;
    }
    #titles h1 a {
        text-decoration: none;
        color: #ffffff;
    }

div.page {
    width: 880px;
    margin: 0px auto 20px auto;
    }
hr.clear { height: 0px; clear: both; visibility: hidden; }

div.lftcol {
    float: left;
    width: 260px;
    }

div.parsebox {
    float: right; width: 560px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 8px -6px #333333;
    }

/* GENERAL TYPOGRAPHY */

a { color: #444444; }
a:hover { color: #888888; }

div.parsebox h1:first-child {
    margin-top: -3px;
}
div.parsebox h2:first-child {
    margin-top: 0;
}
div.parsebox > :last-child {
    margin-bottom: 0;
}

/* LOGO AND MAIN NAVIGATION */

div.navigation {
  padding-bottom: 3px;
  margin-bottom: 12px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 8px -6px #333333;
  }

div.navigation h1, div.navigation h2, div.navigation ul { margin: 0px; }

div.navigation h1 {
    font-weight: normal; font-size: 18px;
    padding: 4px 10px; margin: 0px 0px 4px 0px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #eaeaea;
    }
    div.navigation h1:first-child {
        border-radius: 4px 4px 0px 0px;
       }
    div.navigation h1 span { font-size: 10px; vertical-align: 30%; }
    div.navigation h1 a {
       display: block;
       margin: -5px -10px; padding: 5px 10px;
       text-decoration: none; color: inherit;
       transition: background-color 0.2s, color 0.2s;
       }
    div.navigation h1 a:hover {
       color: #ffffff; background-color: #666666;
       }

div.navigation h2 {
    font-weight: normal; font-size: 16px;
    margin: 4px 10px 4px 10px;
    }
    div.navigation > h2:first-child {
        margin-top: 0px;
        padding-top: 6px;
       }
    div.navigation h2 span {
        font-family: "Courier New", monospace;
        font-weight: bold; font-size: 16px; vertical-align: 1px;
        color: #888888;
        }
    div.dropdown h2 span.open { display: none; }
    div.open h2 span.clsd { display: none; }
    div.open h2 span.open { display: inline; }
    div.navigation h2 a {
       text-decoration: none; display: block;
       }

div.navigation ul {
    
    display: none;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 5px 15px 0px 28px;
    font-size: 16px; line-height: 18px;
    list-style-type: none;
    }
    div.dropdown:last-child > ul {
        border-bottom: none;
    }
    div.navigation li { margin-bottom: 8px; }
    div.open ul { display: block; }
    div.navigation ul a {
        display: block;
        text-decoration: none;
       }