div.mcol-rgt { padding-top: 40px; }

/* Calendar widget */
div.calendar a { text-decoration: none; }

p.month, p#month {
  text-align: center; font-size: 300%;
  margin: 60px 0;
}
p.month a, p#month a {
  display: block;
  font-size: 1.8em;
  margin: 0; padding: 0 40px;    
  }
p.month a.last { float: left; }
p.month a.next { float: right; }

div.week p, div.weekdays p {
	float: left; font-size: 300%;
  width: 14.25%;
  text-align: center;
	}
div.weekdays p {
  padding-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid #aaaaaa;
}

div.week p { margin-top: 0; }
#selected { background-color: #F9D27B; }
div.week a {
  color: #000000;
  display: block;
  padding: 0.6em 0 0.6em 0;
}
div.week p#today { font-weight: bold; }
p#notMonth a { color: #aaaaaa; }
div.week a:hover { background-color: #EFA207; }
div.week p.event { background-color: rgba(239,162,7,0.35); }

div#diaryPreview { display: none!important; }

/* Event display */
p.weekNav { font-weight: bold; }
p.weekNav a { text-decoration: none; } 
p.weekNav a.next {
  float: right;
  font-size: 300%; line-height: 135%;
}

div.diary h2 {
  font-size: 14px;
  margin-top: 28px; padding-top: 24px;
  border-top: 2px solid #aaaaaa;
}
div.diary h2:first-of-type {
  margin-top: 18px; padding-top: 34px;
  border-color: #173F7A;
}
div.diary h2 span { float: right; font-size: 300%; } /* I don't know why it needs to be 300%, but there you go */

.diary h3, .diary p {
  font-size: 14px; line-height: 35px;
}
.diary p { margin-bottom: 0; }

div.diary h3 {
  font-family: Trebuchet, Verdana, sans-serif;
  font-weight: bold;
  padding: 0; margin: 20px 0 0 0;
}