h1 { margin-bottom: 15px; text-align: center; }

/* Calendar widget */
div.ncol { position: fixed; }

div.calendar {
    margin: -15px 0px 12px 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid #aaaaaa;
    }

div.calendar a { text-decoration: none; }

	p.month {
       text-align: center;
       font-weight: bold; font-size: 15px;
       }
       p.month a {
          display: block;
          font-size: 20px;
          margin-top: -6px;      
          }
          a.lmonth {
             float: left;
             padding: 5px 20px 5px 3px;
             }
	      a.nmonth {
             float: right;
             padding: 5px 3px 5px 20px;
             }

div.weekdays, div.week {
    margin: 0px 1px 0px 2px;
    }
div.week p, div.weekdays p {
	float: left;
    width: 32px; margin: 0px 2px 0px 2px;
    text-align: center;
	font-size: 11px; 
	}

    div.weekdays {
       padding: 8px 0px 0px 0px; height: 22px;
       border-bottom: 1px solid #aaaaaa;
       margin-bottom: 6px;
       }
    div.weekdays p { text-transform: uppercase; }
    
    div.week {
       height: 23px;
       clear: left;
       }
       #selected { background-color: #F9D27B; }
    div.week p { height: 22px; padding-top: 0px; }
       div.week p.today { font-weight: bold; }
    div.week a {
       color: #000000;
       display: block; padding: 0px 0px 1px 0px;
       transition: background-color 0.2s;
       -webkit-transition: background-color 0.2s;
       }
       p.xmonth a { color: #aaaaaa; }
       div.week a:hover { background-color: #EFA207; }

div.preview {
    visibility: hidden;
    position: fixed; margin-top: 75px;
    }
    div.preview p { margin-top: 0px; font-size: 12px; line-height: 17px; }
    div.preview p.more {
       font-size: 11px;
       margin-top: 5px; text-align: center;
       font-weight: bold; font-style: italic;
       }

/* Event display */
div.day { margin-left: 10px; }
    div.day hr {
       clear: both;
       border-bottom: 1px solid #aaaaaa;
       padding-top: 22px; margin-bottom: 15px;
       }
       
div.day strong { color: red; }

div.day h2 { margin: 2px 0 0 0; }
    div.day h2 span { float: right; }
    h2.noevents { margin-bottom: 15px; }

div.ncol h2 { margin-top: 2px; text-align: center; }

p.time {
    clear: both; float: left;
    margin-top: 9px; width: 115px;
    font-weight: bold; font-size: 12px;
    
    }

div.day h3 {
    float: right;
    width: 580px;
    }

p.allevents {
    float: right; text-align: right;
    margin-top: 8px; width: 160px;
    
    }

p.details {
    clear: both;
    margin: 0px; padding: 0px 160px 0px 115px;
    
    }