h1 { margin-bottom: 15px; text-align: center; }

/* Calendar widget */
div.ncol { position: fixed; }

div.calendar {
    margin: -12px 0px 12px 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid #aaaaaa;
    }

div.calendar a { text-decoration: none; }

	p.month {
       text-align: center;
       font-weight: bold; font-size: 15px;
       }
       p.month a {
          display: block;
          font-size: 20px;
          margin-top: -6px;      
          }
          a.lmonth {
             float: left;
             padding: 5px 20px 5px 3px;
             }
	      a.nmonth {
             float: right;
             padding: 5px 3px 5px 20px;
             }

div.weekdays, div.week {
    margin: 0px 1px 0px 2px;
    }
div.week p, div.weekdays p {
	float: left;
    width: 32px; margin: 0px 2px 0px 2px;
    text-align: center;
	font-size: 11px; 
	}

    div.weekdays {
       padding: 8px 0px 0px 0px; height: 22px;
       border-bottom: 1px solid #aaaaaa;
       margin-bottom: 6px;
       }
    div.weekdays p { text-transform: uppercase; }
    
    div.week {
       height: 23px;
       clear: left;
       }
       #selected { background-color: #F9D27B; }
    div.week p { height: 22px; padding-top: 0px; }
       div.week p#today { font-weight: bold; }
    div.week a {
       color: #000000;
       display: block; padding: 0px 0px 1px 0px;
       transition: background-color 0.2s;
       -webkit-transition: background-color 0.2s;
       }
       p#notMonth a { color: #aaaaaa; }
       div.week a:hover { background-color: #EFA207; }

div.preview {
    visibility: hidden;
    position: fixed; margin-top: 75px;
    }
    div.preview p { margin-top: 0px; font-size: 12px; line-height: 17px; }
    div.preview p.more {
       font-size: 11px;
       margin-top: 5px; text-align: center;
       font-weight: bold; font-style: italic;
       }

div.diarylinks p { margin: 0; }
div.diarylinks p:nth-child(2) { margin-bottom: 8px; }

div.diarylinks a {
    display: block;
    padding: 5px 8px;
    font-size: 16px; text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
    -webkit-trasition: background-color 0.2s, color 0.2s;
}
    div.diarylinks a:hover {
        background-color: #2358A3;
        color: #ffffff;
    }

/* Event display */
div.diary {
    padding-left: 10px;
    width: 700px;
    }

div.diary h2 {
    margin: 19px 0 0 0; padding: 15px 0 0 0;
    border-top: 1px solid #aaaaaa;
    }
    div.diary h2:first-of-type {
        border: 0; margin: 0; padding: 0;
    }
    div.diary h2 span { float: right; }

div.diary h3, p.details {
    margin: 0 0 0 115px;
    }
    div.diary h3 { margin-top: 8px; }
    p.details span { font-weight: bold; }
    span#win  { color: #247703; }
    span#draw { color: #E87B19; }
    span#loss { color: #D32918; }

p.time {
    float: left; margin-top: -22px;
    font-weight: bold; font-size: 12px;
    }