div.mcol-rgt { padding-left: 1.8em; }
hr { clear: left; }
div.description { }

div.photostub {
    float: left;
    margin: 0 0 0.8em 0.8em;
    background-color: #f0f0f0;
    background-size: cover;
    }
    div.med { width: 18.13em; height: 18.13em; }
    div.tny { width: 8.66em; height: 8.66em; }
    div.wde { width: 37.07em; height: 18.13em; }

div.tny-box {
    float: left;
    width: 18.93em; height: 18.93em;
    }

div.photostub a { display: block; height: 18.13em; }
    div.tny a { height: 8.1em; }

/* Photo viewer */
div.viewphoto { width: 100%; }
    div.viewphoto h2 { margin-bottom: 0.5em; }
div.photo {
    height: 50em; width: 100%;
    background-color: #f0f0f0;
    background-size: contain; background-repeat: no-repeat; background-position: center center;
    }

div.stublist { margin-top: 3em; }