* {	margin: 0; padding: 0; border: 0;	}

body {
	background-color: #ffffff;
    }
    
/* General typography */
p { font-family: Trebuchet, Verdana, sans-serif; }

h1, h2, h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: normal;
    }
    h4 { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

a { color: #173f7a; }
a:hover { color: #3E70EF; }

/* Header and footer typography */

/* General structure */
.clear { clear: both; }
.noclear {clear: none !important; }

/* Colours */
#foxell			{ background-color: #fac800; }
#holman			{ background-color: #e87b19; }
#newman			{ background-color: #d32918; color: #ffffff; }
#pearson		{ background-color: #96c4f8; }
#rayner			{ background-color: #2542a1; color: #ffffff; }
#thorne 		{ background-color: #247703; color: #ffffff; }

span#win  { color: #247703; }
span#draw { color: #E87B19; }
span#loss { color: #D32918; }