h1.dcgs {
    color: #00457f; text-align: center;
    margin-bottom: 0.6em !important; padding-right: 0.1em;
    }

/* Override */
div.override {
    margin-bottom: 2.4em;
    background-image: none!important; padding-bottom: 0!important;
    border: 0.7em solid;
    }
    div.override h1 {
        color: #ffffff;
        font-size: 4.2em; font-weight: normal;
        padding: 0.2em 0.4em 0.2em 1.3em;
        background-repeat: no-repeat;
        background-position: 0 0.2em;
        background-size: 8%;
       }
    div.override p {
       margin: 0.6em;
       }

/* Magazine */
div.magazine div { clear: left; margin-bottom: 1.4em; }

div.magazine h2, div.magazine h3 { font-size: 3em; line-height: 1.2em; }
div.magazine p { margin-top: 0.1em; }

div.magazine a { color: #000000; text-decoration: none; }

div.non { background-color: #F7F7F7; padding: 0.1em 1.5em 1em 1.5em;}

div.big, div.std, div.bar { height: 13.5em; }

div.newsimg {
    float: left; height: 13.5em;
    width: 40%; margin: 0 1.8em 0 0;
    }