/* Override */
img.override, div.override img { display: none; }

div.override {
  margin-bottom: 40px;
  padding: 10px 0;
  border-width: 10px 0;
  border-style: solid;
  border-color: #2F5397;
}
div.override h1 {
  color: #ffffff; background-color: #2F5397;
  font-family: Trebuchet, Verdana, sans-serif;
  font-size: 18px; font-weight: bold;
  padding: 10px 25px; margin-top: -20px;
  background-image: url(imgs/override_default.png);
  background-repeat: no-repeat;
  background-size: 128px;
  background-position: right -10px center;
}
div.override p { padding: 5px 25px; margin: 0; }

    .override#alert     { border-color: #2b2b2b; }
    .override#alert h1  { background-color: #2b2b2b; background-image: url(imgs/override_alert.png); }
    .override#snow      { border-color: #bce4f3; }
    .override#snow h1   {
      background-color: #bce4f3; color: #0d536d;
      background-image: url(imgs/override_snow.png);
      
      
    }
    .override#travel    { border-color: #165d13; }
    .override#travel h1 { background-color: #165d13; background-image: url(imgs/override_travel.png); }
    .override#drama h1  { background-image: url(imgs/override_drama.png); }

/* Magazine */
#magazine a {
  text-decoration: none;
  color: #000000;
}
#magazine a > div { clear: left; }

#magazine .newsImg {
  float: left;
  width: 350px; height: 195px;
  margin: 0 30px 20px 0;
  background-position: top center; background-repeat: no-repeat; background-size: cover;
}
/* Removes various elements that we aren't going to try and display on a mobile. */
#magazine #slideshow, #magazine .audio, #magazine iframe, #magazine p span {
  display: none;
}

#magazine .std h1, #magazine .non h1, #magazine .row h1 {
  font-family: Trebuchet, Verdana, sans-serif;
  font-size: 18px; font-weight: bold;
  padding: 0; margin: 0; line-height: 50px;
}
div#magazine em { font-style: normal; }
#magazine p { margin: 0; line-height: 50px; }

#magazine .top h1 { margin: 25px 0 15px; }
#magazine .top { margin-bottom: 40px; }
#magazine .top .newsImg {
  width: 898px; height: 496px;
  float: none; margin: 30px 0 0 0;
}
#magazine .top p span { display: inline; }
#magazine .top em { font-style: italic; }

#magazine .non {
  border-width: 2px 0;
  border-style: solid;
  border-color: #aaaaaa;
  padding: 20px 20px 15px;
  margin: 30px 0;
}

#magazine > .error {
  border-bottom: 2px solid #aaaaaa;
  margin-bottom: 50px; padding-bottom: 30px;
}
#magazine > .error .newsImg { display: none; }