h1.dcgs {
    color: #00457f; text-align: center;
    margin-bottom: 0.6em !important; padding-right: 0.1em;
    }

/* Override */
div.override {
    margin-bottom: 2.4em;
    background-image: none!important; padding-bottom: 0!important;
    border: 0.7em solid;
    }
    div.override h1 {
        color: #ffffff;
        font-size: 4.2em; font-weight: normal;
        padding: 0.2em 0.4em 0.2em 1.3em;
        background-repeat: no-repeat;
        background-position: 0 0.2em;
        background-size: 8%;
       }
    div.override p {
       margin: 0.6em;
       }

/* Magazine */
#magazine a {
  text-decoration: none;
  color: #000000;
}

#magazine a > div { 
  clear: left;
}

#magazine .newsImg {
  float: left;
  width: 40%; height: 12.5em;
  margin: 0 1.8em 1.4em 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
  /* Removes technical elements that don't display reliably on mobile. */
  #magazine #slideshow, #magazine .audio { display: none; }

#magazine h1 {
  margin: 0;
  padding: 0.2em 0 0 0;
  font-size: 3em;
  line-height: 1.2em;
}
#magazine p { margin: 0; }

#magazine .non {
  border-width: 0.2em 0;
  border-style: solid;
  border-color: #cccccc;
  padding: 0.5em 1.5em 0.8em 1.5em;
  margin-bottom: 1.4em
}

#magazine iframe {
  display: none;
}

#magazine > .error {
  margin-bottom: 1.4em;
}
#magazine > .error .newsImg {
  display: none;
}