/* NHS NATIONAL BLOOD WEEK */
span.hide { color: rgba(0,0,0,0.25); float: none!important; }
span.hideW { color: rgba(255,255,255,0.25); float: none!important; }

/* Override */
.override {
    margin-bottom: 14px;
    border-top:    4px solid #2F5397;
    border-bottom: 4px solid #2F5397;
    }
    div.override h1 {
        color: #ffffff;
        font-size: 26px; font-weight: normal;
        padding: 0 8px 2px 44px; margin-top: -3px;
        background-image: url(imgs/override_default.png);
        background-repeat: no-repeat;
        background-position: 8px 5px;
        background-color: #2F5397;
       }
    div.override p {
       margin: 8px;
       }

    .override#alert     { border-color: #2b2b2b; }
    .override#alert h1  { background-color: #2b2b2b; background-image: url(imgs/override_alert.png); }
    .override#snow      { border-color: #bce4f3; }
    .override#snow h1   { background-color: #bce4f3; background-image: url(imgs/override_snow.png); color: #0d536d; }
    .override#travel    { border-color: #165d13; }
    .override#travel h1 { background-color: #165d13; background-image: url(imgs/override_travel.png); }
    .override#drama h1  { background-image: url(imgs/override_drama.png); }

    div.override img.wide, img.override { width: 710px; }
      div.override img.bottom { margin-bottom: -4px; }
    div.override img.side { width: 170px; margin: 8px; }
      div.override img.left  { float: left;  }
      div.override img.right { float: right; }
      

/* Magazine */

#magazine a {
  text-decoration: none;
  color: #000000;
}

#magazine a > div, #magazine > .audio {
  overflow: hidden; 
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  clear: left;
  padding-right: 14px;
  margin-bottom: 12px;
}
#magazine iframe { display: none; }
#magazine iframe.videoPreview {
  display: block;
  float: left;
}
#magazine > .audio { cursor: pointer; }
#magazine > .error {
  overflow: hidden;
  clear: left;
  padding-right: 14px;
  margin-bottom: 12px;
  }
  #magazine a > div:hover, #magazine > .audio:hover {
    background-color: #2358A3; color: #ffffff;
  }
  #magazine p { margin: 0; }

#magazine .newsImg {
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
  #magazine #slideshow { float: left; }

#magazine .non {
  border-width: 1px 0;
  border-style: solid;
  border-color: #cccccc;
  padding: 8px 14px;
}
  #magazine .non:hover {
    border-color: #2358A3;
  }

#magazine .row {
  padding: 8px;
  margin: -6px 0 6px 0;
}
  #magazine .row p, #magazine .row h1 { margin: 0 4px; }

#magazine .std h1, #magazine .error h1, #magazine > .audio h1 { font-size: 20px; margin: 8px 0 5px 0; }
#magazine .top h1 { font-size: 24px; line-height: 30px; margin: 8px 0 5px 0; }
#magazine .non h1 { font-size: 20px; margin: 0 0 5px 0; }
#magazine .row h1 { font-size: 22px; margin-bottom: 3px; }

/* All magazine images must have the same proportions, so that editors can purposefully size images for the magazine if they wish. */
#magazine .std .newsImg, #magazine .error .newsImg { width: 250px; height: 140px; margin-right: 16px; }
#magazine .top .newsImg, #magazine #slideshow, #magazine iframe.videoPreview { width: 430px; height: 240px; margin-right: 20px; }
#magazine .row .newsImg { width: 166px; height: 93px;  margin: 0 10px 6px 0; }
  #magazine .row .newsImg:last-of-type { margin-right: 0px; }
#magazine > .audio .newsImg { 
  width: 130px; height: 120px;
  padding-right: 120px;
  margin-right: 16px;
  background-position: center right, center left;
  background-repeat: no-repeat, repeat-x;
  background-size: contain;
  text-align: center;
}
  #magazine > .audio .newsImg p {
    color: #ffffff;
    font-size: 18px;
    margin: 37px 0 5px 0;
  }
  #magazine > .audio .newsImg img {
    margin-left: -4px;
  }

#magazine .std { height: 140px; }
#magazine .top { height: 240px; }
#magazine > .audio { height: 120px; }

/* Side links */

div.intranetbox h3, div.intranetbox h4, div.linkbox h3 {
  text-transform: uppercase; font-weight: normal;
  transition: background-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s;
}
div.intranetbox a, div.linkbox a {
  text-decoration: none; color: #000000;
  }
div.intranetbox h3:hover, div.linkbox h3:hover {
  background-color: #2358A3; color: #ffffff;
  }

div.intranetbox {
  padding: 5px 0;
}
  div.intranetbox img {
    float: right;
    padding: 3px;
  }
   div.intranetbox a:first-child img { margin-right: 2px; }
  div.intranetbox h4 {
    margin: 0 0 0 6px;
    font-size: 11px; letter-spacing: 0.5px;
    color: #696969;
  }
  div.intranetbox h3 {
    float: left;
    padding: 2px 8px 3px 8px; margin: -1px 0 2px 0;
    font-size: 16px;
  }

div.linkbox {
   clear: left;
   height: 80px; padding: 5px 0 8px 0;
   }
   div.linkbox h3 {
     background-color: #eeeeee;
     height: 24px; width: 125px; padding: 2px 0 0 0;
     float: left; margin: 0 5px 5px 0;
     font-size: 15px;  text-align: center;
     }
     div.linkbox a:nth-child(even) h3 {
      margin-right: 0;
      }

/* Astra LA */
div.astratext {
    visibility: hidden;
    position: absolute; width: 235px;
    color: #1B3C67;
    margin-top: -5px; padding: 10px;
  border-bottom: 3px solid #7496B6;
    }
div.astratext p {
  margin: 0; padding: 0;
  line-height: 22px;
}
img.linkbutton:hover, div.astratext { background-color: #C9DBEA; }


/* Update old browsers notice */

div.old_browser_notice {
    margin: 5px 0 15px;
    border: 1px solid;
    padding: 10px 15px 15px;
    background-color: #f1f1f1;
    }
div.old_browser_notice img {
    height: 50px; width: 50px;
    vertical-align: middle;
    margin-right: 15px;
    }
div.old_browser_notice a {
    color: #000000;
    font-weight: bold;
    }