/* Override */
div.override {
    margin-bottom: 14px;
    background-repeat: no-repeat; background-position: bottom;
    padding-bottom: 4px;
    border-bottom: 4px solid;
    }
    div.override h1 {
        color: #ffffff;
       font-size: 26px; font-weight: normal;
       padding: 1px 8px 4px 44px;
        background-repeat: no-repeat;
        background-position: 8px 7px;
       }
    div.override p {
       margin: 8px;
       }

/* Magazine */
div.magazine { margin-top: 5px; }
    div.magazine a { text-decoration: none; color: #000000; }
    div.magazine p { margin-top: 5px; }
    div.magazine h2 { line-height: 26px; padding: 10px 0px 8px 0px; }
    div.magazine hr { clear: left; }

div.big, div.std, div.non, div.bar {
    overflow: hidden; 
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    }
    div.big:hover, div.std:hover, div.non:hover, div.non a:hover, div.bar:hover { background-color: #2358A3; color: #ffffff; }

div.magazine .newsimg {
    display: block; float: left;
    background-position: top center; background-repeat: no-repeat; background-size: cover;
    }

div.big { clear: left; height: 210px; padding-right: 14px; margin-bottom: 16px; }
    div.big h2 { margin-top: 5px; }
    div.big .newsimg { height: 210px; width: 430px; margin-right: 18px; }

div.std { clear: left; height: 140px; padding-right: 14px; margin-bottom: 12px; }
    div.std h3 { margin-top: 8px; }
    div.std .newsimg { height: 140px; width: 250px; margin-right: 16px; }

div.non {
    background-color: #FFF7D7;
    height: 62px; width: 331px;
    float: left;
    padding: 0px 12px 0px 12px; margin-bottom: 16px;
    }
    div.non p { margin-top: 0px; }

div.bar {
    width: 170px; margin: 4px 10px 14px 0px;
    float: left;
    }
    div.bar#end { margin-right: 0px; }
    div.bar h3 { clear: left; line-height: 24px; padding: 8px 12px 8px 12px; }
    div.bar .newsimg { height: 120px; width: 170px; }

/* Twitter */
div.twitter-header {
    margin: 10px 0px 4px 0px;
    }

div.twitter-header p {
    padding: 3px 31px 3px 7px; margin: 0px;
    background-image: url('/styles/imgs/twitter.png');
    background-position: right 6px;
    background-repeat: no-repeat;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    }
    div.twitter-header p:hover { background-color: #2358A3; color: #ffffff; }

div.twitter-header span {
    float: right;
    font-size: 11px;
    }

div.twitter-header a {
    display: block;
    text-decoration: none;
    }

div.twitter-header#news { background-color: #f3b939; }
    div.twitter-header#news a { color: #000000; }
div.twitter-header#sprt { background-color: #b21614; }
    div.twitter-header#sprt a { color: #ffffff; }

.twitter-timeline { height: 300px; margin-bottom: -5px; }

iframe { margin-top: 0px; }

/* Astra LA */
div.astratext {
    visibility: hidden;
    position: absolute; width: 235px;
    color: #1B3C67; background-color: #9BC4E8;
    margin-top: -5px; padding: 10px 10px 12px 10px;
    }
div.astratext p {
    margin: 0; padding: 0;
}


/* Update old browsers notice */

div.old_browser_notice {
    margin: 5px 0 15px;
    border: 1px solid;
    padding: 10px 15px 15px;
    background-color: #f1f1f1;
    }
div.old_browser_notice img {
    height: 50px; width: 50px;
    vertical-align: middle;
    margin-right: 15px;
    }
div.old_browser_notice a {
    color: #000000;
    font-weight: bold;
    }