/* Override */
div.override {
    margin-bottom: 14px;
    background-repeat: no-repeat; background-position: bottom;
    padding-bottom: 4px;
    border-bottom: 4px solid;
    }
    div.override h1 {
        color: #ffffff;
       font-size: 26px; font-weight: normal;
       padding: 1px 8px 4px 44px;
        background-repeat: no-repeat;
        background-position: 8px 7px;
       }
    div.override p {
       margin: 8px;
       }

/* Magazine */

#magazine a {
  text-decoration: none;
  color: #000000;
}

#magazine a > div {
  overflow: hidden; 
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  clear: left;
  padding-right: 14px;
  margin-bottom: 12px;
}
  #magazine a > div:hover {
    background-color: #2358A3; color: #ffffff;
  }
  #magazine p { margin: 0; }

#magazine .newsImg {
  display: block;
  float: left;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
#magazine #slideshow {
  float: left;
  margin-right: 16px;
}

#magazine .non {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #cccccc;
  padding: 8px 14px;
}
  #magazine .non:hover {
    border-color: #2358A3;
  }

#magazine .row {
  padding: 8px;
  margin: -6px 0 6px 0;
}
  #magazine .row p, #magazine .row h1 { margin: 0 4px; }

#magazine .std h1 { font-size: 20px; margin: 8px 0 5px 0; }
#magazine .top h1 { font-size: 24px; line-height: 30px; margin: 8px 0 5px 0; }
#magazine .non h1 { font-size: 20px; margin: 0 0 5px 0; }
#magazine .row h1 { font-size: 22px; margin-bottom: 3px; }

/* All magazine images must have the same proportions, so that editors can purposefully style cover images if they wish. */
#magazine .std .newsImg { width: 250px; height: 140px; margin-right: 16px; }
#magazine .top .newsImg { width: 430px; height: 240px; margin-right: 16px; }
#magazine .row .newsImg { width: 166px; height: 93px;  margin: 0 10px 6px 0; }
  #magazine .row .newsImg:last-of-type { margin-right: 0px; }

/* Twitter */
div.twitter-header {
    margin: 10px 0px 4px 0px;
    }

div.twitter-header p {
    padding: 2px 31px 3px 7px; margin: 0px;
    background-image: url('/styles/imgs/twitter.png');
    background-position: right 6px;
    background-repeat: no-repeat;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    }
    div.twitter-header p:hover { background-color: #2358A3; color: #ffffff; }

div.twitter-header span {
    float: right;
    font-size: 11px;
    padding-top: 2px;
    }

div.twitter-header a {
    display: block;
    text-decoration: none;
    }

div.twitter-header#news { background-color: #f3b939; }
    div.twitter-header#news a { color: #000000; }
div.twitter-header#sprt { background-color: #b21614; }
    div.twitter-header#sprt a { color: #ffffff; }
div.twitter-header#astra { background-color: #123B67; }
    div.twitter-header#astra a { color: #ffffff; }

.twitter-timeline { height: 300px; margin-bottom: -5px; }

iframe { margin-top: 0px; }

/* Astra LA */
div.astratext {
    visibility: hidden;
    position: absolute; width: 235px;
    color: #1B3C67; background-color: #9BC4E8;
    margin-top: -5px; padding: 8px 10px 10px 10px;
    }
div.astratext p {
    margin: 0; padding: 0;
  line-height: 20px;
}


/* Update old browsers notice */

div.old_browser_notice {
    margin: 5px 0 15px;
    border: 1px solid;
    padding: 10px 15px 15px;
    background-color: #f1f1f1;
    }
div.old_browser_notice img {
    height: 50px; width: 50px;
    vertical-align: middle;
    margin-right: 15px;
    }
div.old_browser_notice a {
    color: #000000;
    font-weight: bold;
    }