div.house_scores { margin-top: 12px; }

p.position {
	padding: 3px 8px 4px 10px;
	margin-top: 6px; font-weight: bold;
	}
	p.position span { float: right; }

/* Scores breakdown */
div.line { clear: right; float: right; }
    div.line p { margin-top: 0px; }
    
div.line#header { padding-top: 20px;}
    div.line#header p {
       height: 27px; padding-top: 3px; margin-bottom: 8px;
       font-weight: bold;
       }

p.event, div.line h3 {
    float: right;
    width: 266px; height: 24px;
    }
    div.line h3 {margin: 0px 0px 10px 0px; }

p.score {
    float: left;
    width: 70px;
    text-align: center;
    }

/* Representatives list */
div.line#header div.house { margin-bottom: 10px; }
div.line#header div.house p { padding-top: 6px; height: 16px; }

div.rank, div.rank h3 {
    float: left;
    width: 110px; height: 25px;
    }
    div.line h3 {margin-top: 0px; }

div.house {
    float: left;
    width: 100px;
    text-align: center;
    }
    div.house p { line-height: 16px; margin: 0px 8px 8px 8px; font-size: 12px; }

 hr {
       clear: right;
       border-bottom: 1px solid #aaaaaa;
       padding-top: 6px; margin-bottom: 10px;
       }
	   
 hr.clear {
       clear: both;
       border-bottom: none;
       padding-top: 6px; margin-bottom: 10px;
       }