form { margin-top: 22px; }
  
form p {
    float: left; clear: left;
    width: 30%; margin: 0 2% 0.8em 0;
    text-align: right; line-height: 1.4em;
    }

form input, form textarea {
    border: 1px solid #aaaaaa;
    float: left; width: 48%; 
    padding: 0; margin-top: 0.1em;
    font-size: 2.3em; font-family: Trebuchet, Verdana, sans-serif;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    }
    form input {
        
       }
    form textarea {
       resize: vertical;
       }
    input.submit {
       width: 40%;
       margin: 0 0 1em 40%;
       transition: border-color 0.2s, background-color 0.2s, color 0.2s;
       -webkit-transition: border-color 0.2s, background-color 0.2s, color 0.2s;
       border-color: #173F7A;
          background-color: #2358A3;
          color: #ffffff;
       }

p.require {
    width: 15%; margin: 0 0 0.8em 2%; clear: none;
    text-align: left; color: #173F7A;
    }
  
p.error {
    padding: 0.5em 10% 0.7em 2%; line-height: 1.4em; 
    color: #ffffff; 
    background-color: #303030;
    background-image: url(/main_imgs/override_closure.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    }