/* Fixed issue: when the content in the main column is very short, the site does not otherwise fill correctly according to the iPad screen's width */
div.mcol, div.mcol-rgt, div.parsebox { min-height: 1024px; }
body { background-size: 100%; }
div.parsebox { background-color: transparent!important; }
