/* For dropping in and out items that are small/large screen only. */
.lrg { display: none; }
.sml {  }

/* General structure */
body {  }

div.page { margin: 0; }

div.mcol, div.mcol-rgt, div.intranet, div.parsebox {
    padding: 2.9em 2% 3.5em 2%;
    }
	
iframe {margin-top: 1em; width: 100%; }

/* General typography */
h1 { font-size: 4.5em; line-height: 1.2em; margin-bottom: 0.2em; }
h2 { font-size: 3.6em; margin-top: 0.4em; }
div.parsebox h2 { font-size: 3.8em; margin-top: 0.8em; }
h3 { font-size: 2.8em; margin-top: 0.3em;}
div.parsebox h3 { font-size: 3.2em; margin-top: 0.8em;}
p, div.parsebox p { font-size: 2.3em; line-height: 1.7em; margin-bottom: 1em; }
h4 { font-size: 3.6em; margin-top: 1em; }
li { font-size: 2.3em; line-height: 1.2em; }

div.mcol ul, div.mcol-rgt ul, div.parsebox ul { margin: 0 0 2em 4.2em; }
div.mcol li, div.mcol-rgt li, div.parsebox li {
    font-family: Trebuchet, Verdana, sans-serif;
    font-size: 2.3em;
    line-height: 1.8em;
    padding-left: 0.8em;
    }

a.anchor { height: 9.5em; margin: -9.5em 0 0 0; display: block; background-color: transparent; }

/* Other ParseBox modifications */

div.parsebox img.right, div.parse img.left { margin-top: 1.8em; }
div.gallery { padding: 0 11.5%; }
p.linkout img.icon { height: 65px; border-right: 0.4em solid #ffffff; }

div.parsebox table { margin-top: 2em; }
div.parsebox table td { padding: 1%; }
div.parsebox table p { line-height: 1.7em; }

div.parsebox iframe.googleform { box-shadow: none; }

/* Header */
div.header {
    background-color: #ffffff;
    }
    div.main_nav {
       width: 100%; height: 7.8em;
       background-color: #173F7A;
       }
       div.main_nav a {
          color: #ffffff; text-decoration: none; 
          }
       .rbutton { float: right; }
       div.main_nav img { padding-top: 0.3em; }
          img.banner_img { padding-left: 0.6em; }
          img.rbutton { margin-bottom: -0.8em; }
       div.main_nav p { 
          margin-top: 0.18em;
          font-size: 3.7em;
          border-width: 0 1px;
          border-style: solid;
          border-color: #286EC9;
          }
          div.main_nav span {
             vertical-align: top; margin-left: 11.8em;
             font-size: 0.55em;
             }
          div.main_nav p a { padding: 0.35em; }
    div.nav_menu {
       display: none;
       padding: 1.8em 0 0.2em 0;
       background-color: #2358A2;
       }
       h1.sub_nav { 
          font-size: 4.5em; float: left; width: 50%;
          }
          h1.sub_nav span {  }
          h1.sub_nav a {
             display: block;
             padding: 0 0.5em 0.4em 0.5em;
             color: #ffffff;  text-decoration: none;
             }
          h1.sub_nav#last { float: none; }
       div.sub_nav {
          clear: left;
          background-color: #d4e8ff;
          padding: 0.4em 0 1em 0; margin-bottom: 1.2em;
          }
          div.sub_menu { display: none; }
          div.sub_nav h2 {
             font-size: 3.3em; font-weight: bold;
             padding: 0.3em 0.4em 0.15em 0.4em;
             }
          div.sub_nav li { font-size: 3.3em; }
             div.sub_nav li#first { pading-top: 0.3em; }
          div.sub_nav a { 
             display: block; padding: 0.35em 0.4em 0.2em 0.4em;
             color: #000000; text-decoration: none;
             }


/* Footer */
div.footer {
    height: 4.8em; width: 100%;
    background-color: #ffffff; border-top: 0.65em solid #173F7A;
    }
    div.footer p {
       text-align: right; font-size: 1.8em; line-height: 1.35em;
       padding: 0.5em 1.2em 0 1.2em; margin: 0;
       }
    div.footer span.left { float: left; }

/* News story */
p.credit { text-align: right; font-style: italic; }

div.newsimg {
    margin: 2em 0 2em 0;
    width: 100%; height: 22.3em;
    background-position: center top; background-repeat: no-repeat; background-size: cover;
    }

div.parsebox h3.newsdate { margin: 0 0 0.8em 0; }

/* Intranet links */
div.intranet h1 { margin: -0.3em 0 0 0; }

div.intranet_head h3 { font-size: 3.6em; margin-bottom: -0.2em; }
    div.intranet_head h3 a {
       display: block; padding: 0.5em 0.7em;
       color: #000000; font-weight: normal;
       background-color: #F7F7F7;
       }
       div.intranet_head h3 a:hover {
         text-decoration: none;
         background-color: #2358A3; color: #ffffff;
         }
div.intranetbox hr {
   background-color: #cccccc;
   height: 1px; margin: 1em 0 0.8em 0;
   }
    div.intranetbox div {
       display: none;
       padding: 0 2.9em;
       margin: 2em 0 2em 0;
        }
        div.intranetbox div.open { display: block; }

div.parsebox div.intranetbox ul, div.parsebox div.intranetbox p { margin: 0; }
div.parsebox div.intranetbox li, div.subjectbox li {
       list-style-type: none; padding: 0.4em 0;
       }
   div.intranetbox div a {
      display: block;
   }
div.parsebox div.intranetbox a:before, div.subjectbox a:before {
      content: none;
      }

/* Search */
div.searchpage {
  padding: 2.9em 2% 4.5em 2%;
}
div.searchpage > div {  }

/* Houses pages */

table.houselist { table-layout: fixed; }
table.houselist td { padding: 0 4px 16px 0!important; }
table.houselist h2 { margin: 0 0 0 0!important; padding: 3px 6px; }
table.houselist h3 { margin: 10px 0 0 0!important; padding: 0 6px; }
table.houselist p { padding: 0 6px; }
  table.houselist a > h3:before { content: "+ "; font-size: 14px; }
  div.dropdown p.rep { display: none; }
  div.open p.rep { display: block; }

div.totalscores { margin-bottom: 3.5em; }
div.totalscores p {
   fnt-size: 18px;
   lne-height: 26px;
   margin: 0 0 0.2em 0;
   padding: 0 0.4em;
   }
   div.totalscores span { float: right; }
   div.totalscores p.leader {
      padding: 0.4em 0.4em;
      font-weight: bold;
      }

table.eventscores th, table.eventscores td {
   width: 20%;
   }
table.eventscores td { padding: 5px 0!important; }
table.eventscores tr:nth-child(2) { border-top: none; }
table.eventscores tr:nth-child(2) td { padding-top: 7px!important; }
table.eventscores p {
   text-align: center!important; padding: 3px;
   }
table.eventscores th.eventname, table.eventscores td.eventname {
   width: 40%;
   }
   table.eventscores th.eventname p, table.eventscores td.eventname p {
     text-align: left!important;
     }
h2.termname:before { content: "+ "; }
   div.dropdown table.eventscores { display: none; }
   div.open table.eventscores { display: block; }

.rgt { float: right; }

div.podium { margin: 0 5%; }

.podium div.block {
   width: 32%; float: left;
   text-align: center;
}
   .podium div.block:nth-child(2) { margin: 0 2%; }

.podium div.block p {
   font-size: 3em;
   margin-bottom: 0;
}
   .podium div.block#first p { font-weight: bold; }
.podium div.block h1 { font-size: 5em; }

.podium div.block#secnd { padding-top: 3em; }
.podium div.block#third { padding-top: 6em; }
.podium div.block#first > div { height: 12em; }
.podium div.block#secnd > div { height: 9em; }
.podium div.block#third > div { height: 6em; }

.podium > h1 {
   text-align: center;
   font-size: 6em;
}

.podium > p {
   text-indent: -4em;
   padding-left: 4em;
}
   .podium > p span {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   }

div.honourRoll {
   clear: left;
   padding-top: 1em;
   margin-top: -1em;
   }

div.honourRoll h3 {
   padding: 0.2em;
   margin: 0!important;
}

div.honourRoll p {
   margin: 0!important;
   color: #000000;
   background-color: #ffffff;
}
   div.honourRoll p span {
      font-weight: bold;
   }

.honourRoll div.champion {
   width: 65%;
   float: left;
}
   .honourRoll div.champion h3 { font-weight: bold; }

.honourRoll div.runnerUp {
   width: 34%; margin-bottom: 1em;
   float: right;
}