/* For dropping in and out items that are small/large screen only. */
.lrg { }
.sml { display: none; }

/* General structure */
div.page, div.header, div.footer {
    width: 980px;
    margin: 0px auto 0px auto;
    }
    div.page { padding: 160px 22px 52px 22px; }
    
div.colourbar { position: fixed; z-index: 1; width: 100%;}
	#top {
	   top: 0px; height: 107px;
	   background-color: #ffffff;
       border-bottom: 38px solid #173f7a;
	   }
	#btm {
	   bottom: 0px; height: 30px;
	   background-color: #ffffff;
	   border-top: 4px solid #173f7a;
	   }

div.ncol { width: 255px; }
div.lft { float: left; }
div.rgt { float: right; }

div.mcol, div.mcol-rgt { width: 710px; }
div.mcol-rgt { margin-left: 270px; }

div.mcol img, div.mcol-rgt img {
    display: block;
    margin: 20px auto 8px auto;
    max-width: 100%;
    }
div.mcol img.left, div.mcol-rgt img.left {
    float: left; width: 260px;
    margin-right: 14px;
    }
div.mcol img.right, div.mcol-rgt img.right {
    float: right; width: 260px;
    margin-left: 14px;
    }
div.mcol img.wide, div.mcol-rgt img.wide {
    width: 710px;
    margin-bottom: 0px;
    }

div.linkbox {
    background-color: #FFF7D7;
    height: 50px; margin-bottom: 8px;
    text-align: center;
    }
    div.linkbox h3 {
       font-size: 17px; text-transform: uppercase;
       padding: 13px 0px 0px 0px; height: 38px;
       transition: background-color 0.2s, color 0.2s;
       -webkit-transition: background-color 0.2s, color 0.2s;
       }
    div.linkbox a {
       text-decoration: none; color: #000000;
       }
       div.linkbox h3:hover {
          background-color: #2358A3; color: #ffffff;
          }

iframe {margin-top: 20px; }
    
/* Header */
div.header { position: fixed; z-index: 2; top: 0px; }

a.bannerlink {
    display: block;
    height: 107px; width: 980px;
    position: fixed;
    }

img.banner_img {
    width: 100%; position: relative;
    pointer-events: none;
    }

div.header ul {
    display: inline-block;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    list-style-type: none;
    }

div.header a {
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    }

div.main_nav {
    width: 100%; height: 35px; margin-top: -15px;
    text-align: center; text-transform: uppercase;
    }       
    div.main_nav li {
       float: left; padding: 0px 3px 0px 3px;
       font-size: 17px;
       }
    div.main_nav li a {
       padding: 7px 14px 0px 14px;
       height: 31px;
       color: #ffffff;
       }
       div.main_nav a:hover {
          background-color: #2358A3;
          }
    div.main_nav a.lbutton { float: left; margin-left: -7px;}
    div.main_nav a.rbutton { float: right; margin-right: -6px;}
    div.main_nav a.lbutton, div.main_nav a.rbutton {
       height: 31px; padding: 7px 2px 0px 2px;
       }

div.sub_nav {
    visibility: hidden;
    position: absolute;
    top: 145px; left: 5px;
    width: 970px; text-align: center;
    }
    div.centred {
       display: inline-block;
       background-color: #d4e8ff;
       padding: 10px; 
       }
    div.category {
       display: inline-block;
       float: left; width: 179px;
       padding: 0px 5px 0px 5px;
       border-left: 1px solid #a7cdf4;
       }
    div.sub_nav h2 {
       text-align: left;
       margin: 0px 5px 0px 5px;
       font-size: 16px; font-weight: bold;
       }
    div.sub_nav a {
       text-align: left;
       color: #000000;
       padding: 5px; width: 169px;
       }
       div.sub_nav a:hover {
          color: #ffffff;
          background-color: #2358A3;
          }
/* Footer */
div.footer { position: fixed; z-index: 2; bottom: 0px; }

div.footer p {
    text-align: right;
    padding-bottom: 5px;
    font-size: 10px;
    }
div.footer span.left { float: left; }

/* General typography */
p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 14px;
    }
    h4 {
    font-size: 20px;
    line-height: 22px; margin-top: 14px;
    }
    p.noline { margin-top: 0px; }

div.mcol ul, div.mcol-rgt ul { margin-top: 14px; }
div.mcol li, div.mcol-rgt li {
    font-family: Trebuchet, Verdana, sans-serif;
    font-size: 14px;
    line-height: 26px;
    margin-left: 24px; padding-left: 8px;
}
    
h1.second { margin-top: 24px;}
h2 { margin: 20px 0px -8px 0px; }
h3 {margin-top: 5px; }

a.anchor { height: 185px; margin: -185px 0px 0px 0px; display: block; background-color: transparent; }

/* Side menu */
div.submenu {
    border-right: 1px solid #aaaaaa;
    width: 255px; margin-left: -10px;
    padding: 10px 0px 10px 0px;
    }
    div.submenu ul {
       display: none;
       margin: -10px 0px 8px 0px;
       }
    div.submenu ul.intranet { display: block; }

div.ncol h2 { margin: -8px 0px 5px 0px; }
/* div.submenu h2 { margin: -2px 0px 12px 10px; } */

div.submenu li {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-size: 18px;
    list-style-type: none;
    margin: -4px 0px -5px 0px;
    }

div.submenu a {
    text-decoration: none; color: #000000;
    display: block; padding: 6px 0px 7px 10px;
    transition: background-color 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, color 0.2s;
    }
    div.submenu a:hover { background-color: #2358A3; color: #ffffff; }
	
/* News story display */
h2.news { padding: 6px 0 7px 10px; }

div.mcol-rgt img.lft, div.mcol-rgt img.rgt {
    width: 341px;
    margin: 18px 0px 8px 0px;
    }
    div.mcol-rgt img.rgt {
      margin-left: 14px; float: right;
      }
    div.mcol-rgt img.lft {
      margin-right: 14px; float: left;
      }
    div.mcol-rgt img.wde { width: 100%; }

p.credit { text-align: right; font-style: italic; margin: 20px 0px 20px 0px; }

/* GALLERY */

div.gallery { margin: 12px 0px 0px -12px; }

div.photostub {
    float: left;
    margin: 0px 0px 12px 12px;
    background-color: #f0f0f0;
    background-size: cover;
    }
    div.med { width: 228px; height: 228px; }
    div.tny { width: 108px; height: 108px; }
    div.wde { width: 468px; height: 228px; }

    div.photostub a {
       display: block; height: 212px; border: 8px solid transparent;
       transition: border-color 0.2s;
       -webkit-transition: border-color 0.2s;
       }
       div.tny a { height: 96px; border-width: 6px; }
       div.photostub a:hover { border-color: #2358A3; }

div.tny-box {
    float: left;
    width: 240px; height: 240px;
    }

/* Intranet links */
div.intranet {
    margin-left: -12px;
    }
h1.intranet { margin-bottom: 10px; }
div.intranet hr { clear: left; }

div.column {
    float: left;
    margin-left: 12px;
    }

div.linksbox {
    width: 228px; padding-bottom: 10px; margin-bottom: 12px;
    }
    div.linksbox h3 {
       background-color: #FFF7D7;
       padding: 3px 8px 3px 8px;
       margin-bottom: 5px;
       }
    div.linksbox li {
       list-style-type: none;
       padding: 0px 8px 4px 8px;
       }

div.subjectbar {
    margin-left: -10px;
    }

div.subjectbox {
    float: left;
    width: 228px; margin: 0px 0px 25px 12px;
    }
    div.subjectbox h2 {
       margin: 0px 0px 8px 0px;
       padding: 3px 8px 4px 8px;
       background-color: #FFF7D7;
       border-bottom: 4px solid;
       }
    div.subjectbox li {
       list-style-type: none;
       margin: 0px 8px 5px 8px;
       }