/* For dropping in and out items that are small/large screen only. */
.lrg { display: none; }
.sml {  }

/* General structure */
body {  }

div.page { margin: 0; }

div.submenu {
    position: fixed; bottom: 5.45em;
    max-height: 50em; overflow: auto;
    background-color: #C1D8FC; outline: 1px solid #C1D8FC;
    width: 98%; margin: 0 1% 0 1%; padding: 6.45em 0 2em 0;
    }
    div.submenu h2 {
       font-size: 1.3em;
       margin: 0.5em 0 0.1em 0.4em;
       }
    div.submenu h3 {
       position: fixed; width: 96.5%; margin: -2em 0 0 0;
       text-transform: uppercase; font-size: 3.2em; text-align: center;
       background-color: #9BBDF2; outline: 1px solid #9BBDF2; padding: 0.4em 0 0.2em 1.5%;
       }
	   div.submenu h3 a { padding: 0.1em 0 0.1em 0; background-color: transparent; color: #000000; }
    div.submenu li {
       list-style-type: none; font-size: 2.8em;
       }
    div.submenu a {
       display: block;
       text-decoration: none;
       padding: 0.5em;
       background-color: #C1D8FC;
       }

div.mcol, div.mcol-rgt, div.intranet {
    padding: 2.9em 2% 4.5em 2%;
    }
	
div.mcol img, div.mcol-rgt img {
    float: right;
    width: 40%; margin: 1.8em 0 0.8em 1.8em;
    }
div.mcol img.left, div.mcol-rgt img.left {
    float: left;
	width: 40%; margin: 1.8em 1.8em 0.8em 0;
    }
div.mcol img.right, div.mcol-rgt img.right {
    float: right;
    width: 40% margin: 1.8em 0 0.8em 1.8em;
    }
div.mcol img.wide, div.mcol-rgt img.wide {
    width: 100%;
    margin: -0.5em 0 1.2em 0;
    }

iframe {margin-top: 1em; width: 100%; }

/* General typography */
h1 { font-size: 4.5em; line-height: 1.2em; margin-bottom: 0.2em; }
h2 { font-size: 3.6em; margin-top: 0.4em; }
h3 { font-size: 2.8em; margin-top: 0.3em;}
p { font-size: 2.3em; line-height: 1.7em; margin-bottom: 1em; }
h4 { font-size: 3.6em; margin-top: 1em; }
li { font-size: 2.3em; line-height: 1.2em; }

div.mcol ul, div.mcol-rgt ul { margin-top: 1em; }
div.mcol li, div.mcol-rgt li {
    font-family: Trebuchet, Verdana, sans-serif;
    font-size: 2.3em;
    line-height: 1.8em;
    margin-left: 2em; padding-left: 0.8em;
    }

a.anchor { height: 9.5em; margin: -9.5em 0 0 0; display: block; background-color: transparent; }

/* Header */
div.header {
    background-color: #ffffff;
    }
    div.main_nav {
       width: 100%; height: 7.8em;
       background-color: #173F7A;
       }
       div.main_nav a {
          color: #ffffff; text-decoration: none; 
          }
       .rbutton { float: right; }
       div.main_nav img { padding-top: 0.3em; }
          img.banner_img { padding-left: 0.6em; }
          img.rbutton { margin-bottom: -0.8em; }
       div.main_nav p {
          margin-top: 0.18em;
          font-size: 3.7em;
          border-width: 0 1px;
          border-style: solid;
          border-color: #286EC9;
          }
          div.main_nav span {
             vertical-align: top; margin-left: 11.8em;
             font-size: 0.55em;
             }
          div.main_nav p a { padding: 0.35em; }
    div.nav_menu {
       display: none;
       padding: 1.8em 0 0.2em 0;
       background-color: #2358A2;
       }
       h1.sub_nav {
          font-size: 4.5em; float: left; width: 50%;
          }
          h1.sub_nav span {  }
          h1.sub_nav a {
             display: block;
             padding: 0 0.5em 0.4em 0.5em;
             color: #ffffff;  text-decoration: none;
             }
          h1.sub_nav#last { float: none; }
       div.sub_nav {
          clear: left;
          background-color: #d4e8ff;
          padding: 0.4em 0 1em 0; margin-bottom: 1.2em;
          }
          div.sub_menu { display: none; }
          div.sub_nav h2 {
             font-size: 3.3em; font-weight: bold;
             padding: 0.3em 0.4em 0.15em 0.4em;
             }
          div.sub_nav li { font-size: 3.3em; }
             div.sub_nav li#first { padding-top: 0.3em; }
          div.sub_nav a {
             display: block; padding: 0 0.4em 0.2em 0.4em;
             color: #000000; text-decoration: none;
             }


/* Footer */
div.footer {
    height: 4.8em; width: 100%;
    background-color: #ffffff; border-top: 0.65em solid #173F7A;
    }
    div.footer p {
       text-align: right; font-size: 1.8em; line-height: 1.35em;
       padding: 0.5em 1.2em 0 1.2em; margin: 0;
       }
    div.footer span.left { float: left; }

/* News story */
p.credit { text-align: right; font-style: italic; }

div.newsimg {
    margin: 2em 0 2em 0;
    width: 100%; height: 22.3em;
    background-position: center top; background-repeat: no-repeat; background-size: cover;
    }

/* Intranet links */
div.intranet {  }
h1.intranet { margin: 0 2% 0 2%; }

div.column {
    width: 48%; float: left; margin: 0 1% 3em 1%;
    }

div.linksbox { clear: left; }
    div.linksbox h3, div.subjectbox h2 {
       padding: 0.4em 0.6em 0.4em 0.6em; margin-bottom: 0.8em;
       background-color: #FFF7D7;
       }
    div.linksbox li {
       list-style-type: none;
       padding: 0 0 1em 0.7em; margin: 0;
       font-size: 2.8em; line-height: 1.2em;
       }

div.subjectbar { }
div.subjectbox { }
    div.subjectbox h2 {
       padding: 0.2em; margin: 0.8em 0 0.3em 0;
       background-color: #FFF7D7;
       border-bottom: 0.65em solid;
       }
    div.subjectbox li {
       list-style-type: none;
       margin: 0 0.2em 0 0.2em;
       font-size: 2.8em; line-height: 1.6em;
       }

/* Term dates */

p.termdate#toprow {
    padding-bottom: 8px;
    border-bottom: 1px solid #173F7A;
    }

p.termdate span { display: inline-block; width: 40%; }
    p.termdate span#firstcol { width: 20%;}